<html>
  <head>
    <title>Universidad de los Andes </title>
    <meta content="">
    <style></style>
  </head>
  
  <body>
  <CENTER><h1> <font color="blue" </font> RSS</h1><CENTER>
  <form  method="GET" action='query'>  
    <DIV>
    <h2> Filtrado por fecha publicacion</h2>
    <input type="text" name="queryrss"/>
    <input type="submit" value="Filtrar"/>
    <h2>Filtrado por enlace</h2>
    <input type="text" name="queryrss2"/>
    <input type="submit" value="Filtrar"/>
    <h2>Filtrado por titulo</h2>
    <input type="text" name="queryrss3"/>
    <input type="submit" value="Filtrar" background-color= "blue"/>
     <h2>Filtrado por RegEX</h2>
    <input type="text" name="regex"/>
    <input type="submit" value="regex"/>
    </DIV>
    <DIV>
    <P ALIGN=left><h4>Grupo 11</h4>
    <P ALIGN=left><h4>Daniel Cardenas</h4>
    <P ALIGN=left><h4>Robinson Navarro</h4>
    <P ALIGN=left><h4>Mónica Montoya</h4>
    </DIV>
    
  </form>
   
  </body>
   <footer> <font color="grey"> <h1> Universidad de los Andes </h1> </font> </footer> 
</html>


